name: CI - Security Reports

on:
  push:
    branches: [ main ]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v4

      # ========== Install global tools ==========
      - name: Install Tools
        run: |
          npm install -g snyk snyk-to-html
          curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin

      # ========== Install backend + frontend deps ==========
      - name: Install dependencies
        run: |
          cd backend && npm install || true
          cd ../frontend && npm install || true

      # ========== Docker build ==========
      - name: Build Docker Images
        run: |
          docker build -t backend-image:ci backend || true
          docker build -t frontend-image:ci frontend || true
          docker compose -f docker-compose.yml up -d || true
          sleep 25

      - name: Create reports folder
        run: mkdir -p reports

      # ========== SNYK JSON ==========
      - name: Snyk JSON
        run: |
          cd backend
          snyk test --json-file-output=../reports/snyk-backend.json &>/dev/null || true
          cd ../frontend
          snyk test --json-file-output=../reports/snyk-frontend.json &>/dev/null || true

      # ========== TRIVY JSON ==========
      - name: Trivy JSON
        run: |
          trivy image backend-image:ci --format json --output reports/trivy-backend.json &>/dev/null || true
          trivy image frontend-image:ci --format json --output reports/trivy-frontend.json &>/dev/null || true

      # ========== ZAP JSON ==========
      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: "http://localhost:10000"
          cmd_options: "-J zap.json -q"
          continue-on-error: true


      - name: Move ZAP JSON
        run: |
          if [ -f zap.json ]; then mv zap.json reports/zap.json; fi

      # ========== DeepSource JSON (if exists) ==========
      - name: Copy DeepSource JSON
        run: |
          if ls deepsource*.json 1> /dev/null 2>&1; then
            cp deepsource*.json reports/deepsource.json || true
          fi

      # ========== Upload reports folder ==========
      - name: Upload Security Reports
        uses: actions/upload-artifact@v4
        with:
          name: security-reports
          path: reports/
